.container {
    display: flex;
    max-width: 378px;
    height: 52px;
    .main-btn {
        width: 50%;
    }
}

input {
    border: 0;
    font-size: 2em;
    text-align: center;
    padding: 2px 5px;
    width: 60%;
    background-color: white;
    outline: none;
    border-radius: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}


@media only screen and (min-width: 361px) and (max-width: 425px){
    .container {
        max-width: 284px;
    }
    input {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 360px){
    .container {
        max-width: 237px;
    }
    
    input {
        font-size: 1.2em;
    }
}