.main-container {
    display: flex;
    flex-direction: column;
    max-width: 745px;
    margin: 148px auto 0 auto;
    align-items: center;
    .description{
        font-size: 2em;
        margin-bottom: 24px;
        text-align: center;
    }
}

.space {
    margin-top: 50px;
}

footer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    height: 30px;
    justify-content: center;
}

@media only screen and (min-width: 351px) and (max-width: 425px) {
    .main-container .description {
        font-size: 1em;
    }

    .room-input {
        font-size: 1em;
    }
}

@media only screen and (max-width: 350px){
    .main-container .description {
        font-size: 0.8em;
    }

    .room-input {
        font-size: 1em;
    }
}

@media only screen and (max-height: 350px){
    .main-container {
        margin: 0 auto 0 auto;
    }
}